.order-img {
  width: 100%;
  img {
    width: 100%;
    border-radius: 7px;
  }
}

.icons {
  p {
    font-weight: bold ;
  }
    span {
      color: rgb(18, 131, 18);
;
      font-weight: 200;
    }
  .duration {
    color: rgb(18, 131, 18);
  }
}
