h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 48px;
  margin-bottom: 24px;
  margin-left: 2rem;
    i {
      padding-left: 24px;
      color: #183153;
      font-size: 2rem;
    }
}

body {
  background-color: #dee2e6;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
