h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 48px;
  margin-bottom: 24px;
  margin-left: 2rem;
    i {
      padding-left: 24px;
      color: #183153;
      font-size: 2rem;
    }
}

body {
  background-color: white;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
