.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    height: 45vh;
}

.product-image{
    overflow: hidden;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a.image {
  display: block; }

.product-image img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image img {
  transform: scale(1.1); }

.product-links{
    background: #fff;
    width: 150px;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    border-radius: 30px;
    box-shadow: 1px 0 30px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
    position: absolute;
    top: 85%;
    left: 50%;
    transition: all .75s ease;
}

.product-grid:hover .product-links{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}

.product-links li{
    width: 48%;
    margin: 10px 0;
    margin-right: 13px;
    display: inline;
}
.product-links li a{
    color: #788090;
    font-size: 18px;
    transition: all .3s;
}
.product-links li a:hover{
    color: #880c4a;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.2);
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  padding: 15px;
    i {
      padding-right: 0.5rem;
    }
    .price {
      color:#1a5c08e5;
    }
}

.price {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.title a {
    color: #4A403A;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.title a:hover {
    color: #341f97;
}

.description {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}
