.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-title {
  position: relative;
  z-index: 2;
  font-size: 10em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               5px 5px hsl(50, 50%, 33%),
               6px 6px hsl(50, 50%, 32%),
               7px 7px hsl(50, 50%, 31%),
               8px 8px hsl(50, 50%, 30%),
               9px 9px hsl(50, 50%, 29%),
               10px 10px hsl(50, 50%, 28%),
               10px 10px 30px rgba(0,0,0,.7),
}
