.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home-title {
	font-size: 2.3rem;
	text-align: left;
	color: #fcedd8;
	font-family: 'Niconne', cursive;
	font-weight: 700;
  text-shadow:  1.2px 1.2px 0px #eb452b,
                2.4px 2.4px 0px #efa032,
                3.6px 3.6px 0px #46b59b,
                4.8px 4.8px 0px #017e7f,
                6px 6px 0px #052939,
}
